/node_modules/
/.expo/
/.idea/
/.Unsaved_Xcode_Document-eemvhdrldvfajhhcedizrqgqmdoq/
/.SDKStatCaches.noindex/
/.Spai_Orario/
/.Spai_Orario-brqnkkuxftkehtezvdlylbjneiat/
/.SymbolCache.noindex/
/.DS_Store
